Source: nete-gtk
Maintainer: Frank Ploss <nete@fqxp.de>
Section: python
Priority: optional
Build-Depends: dh-python, python-setuptools (>= 0.6b3), python (>= 3.4.2), debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/fqxp/nete-gtk
X-Python-Depends: >=3.4

Package: nete-gtk
Architecture: all
Depends: ${misc:Depends}, python3-markdown, python3-gi, libgtk-3-0
Description: A note-taking application with Gtk and command line frontends

